.announcement ul {
  list-style-type: disc !important;
  margin-left: 18px;
}

.announcement ol {
  list-style-type: decimal;
  margin-left: 18px;
}

.announcement h3 {
  font-size: x-large;
  font-weight: 500;
  margin-top: 4px;
}

.rotate {
  rotate: -180deg;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tox-notifications-container {
  display: none;
}

.callScript::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.callScript::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
